

body{
    background-color:#33ecff

}

body{

   .button{
       .button1{background-color: #04aa6D;
       font-size: 10px;
       padding: 10px 24px;
       }
       .button2{ background-color: #04aa6D;
       font-size: 10px;
       padding: 10px 24px}
       }
       .button3{background-colour: #04aa6D;
       font-size: 10px;
       padding: 10px 24px}

       .button4 {background-color: #04aa6D
       font-size: 10px;
       padding: 10px 24px}
       }
       }
   }
}