

body{
    background-color:#33ecff

}

body{
     button1 {background-color: #f44336;} /* Dogs */
.button2 {background-color: #f44336;} /* Cats */
.button3 {background-color: #f44336;} /* Angels */
.button4 {background-color: #f44336; color: Male;} /* Gray */
.button5 {background-color: #f44336;} /* Female
}